#main {
    max-width: 300px;
    margin: auto;
}

.content-box-body-countdown{
    padding: 300px 50px 14px 50px;
}

.start-time{
    background: #F9B25C;
    color: #202020;
    font-weight: bold;
    font-size: 1rem;
}

.start-time:hover{
    background: #F9B25C;
}

#countdown {
    position:absolute;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
    background: #F9B25C;
    text-align:center;
    line-height: 120px;
    font-size: 4em;
    color: #202020;
    text-shadow: 0 2px 2px #202020;
    font-weight:bold;
    margin: -130px auto auto 90px;
}

@-webkit-keyframes aura {
    0%{
        text-shadow: 0 2px 2px #000;
    }

    50%{
        text-shadow: 0 10px 10px #000;
        line-height: 190px;
    }

    100%{
        text-shadow: 0 2px 10px #000;
    }
}

@-webkit-keyframes turning_cw {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes turning_acw {
    0%{
        -webkit-transform: rotate(360deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes aura {
    0%{
        text-shadow: 0 2px 2px #000;
    }

    50%{
        text-shadow: 0 10px 10px #000;
        line-height: 190px;
    }

    100%{
        text-shadow: 0 2px 10px #000;
    }
}

@-moz-keyframes turning_cw {
    0%{
        -moz-transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes turning_acw {
    0%{
        -moz-transform: rotate(360deg);
    }
    100%{
        -moz-transform: rotate(0deg);
    }
}

@keyframes aura {
    0%{
        text-shadow: 0 2px 2px #000;
    }

    50%{
        text-shadow: 0 10px 10px #000;
        line-height: 190px;
    }

    100%{
        text-shadow: 0 2px 10px #000;
    }
}

@keyframes turning_cw {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes turning_acw {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
