.row{
    margin-bottom: 20px;
}

.card-footer{
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.075) !important;
}

.modal-cookies{
    color: black;
}

.modal-cookies:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.modal-legal{
    color: black;
}

.modal-legal:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.modal-box{
    padding: 13px 25px 25px 25px;
}
